
<div id="contact" class="contact">
    <div class="contact-info">
        <h1>Contact</h1>
        <div class="logo">
			<a class="site-logo" href="{{site.url}}" rel="home">
            {# no source function as it not supported in footer #}
				<img src="{{site.theme.link}}/static/images/no-vacancy-logo.svg" alt="No Vacancy Logo" class="img-responsive">
			</a>
		</div>
        <div class="details">
        </div>
    </div>
    <div class="copyright center">
        <span class="copyright-text">&copy; Company name {{"now"|date('Y')}}. </span>
        <span class="site-by">Site by <a href="https://onpoint.ca/" target="_blank" rel="noopener noreferrer" aria-label="link to PSone website">onPoint</a></span>
        <span> | <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer" aria-label="Link to google terms">Google Terms</a></span>
    </div>
</div>


