<div class="form-overlay open form-overlay-{{counter}}" id="form-overlay">
	<div class="form-modal">

		<div class="form-container">
			{{fn('do_shortcode','[gravityform id="1" title="false" description="false" ajax="true"]')}}
		</div>
	</div>
</div>
